{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'sell/main.css' %}">

    {% if title %}
        <title>海鸥二手市场- {{ title }}</title>
    {% else %}
        <title>海鸥二手市场</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'sell-home' %}">海鸥二手市场</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'sell-home' %}">主页</a>
              <div class="btn-group">
                <a  class="btn dropdown-toggle nav-item nav-link" data-toggle="dropdown" href="#">分类<span class="caret"></span></a>
                <ul class="dropdown-menu" >
                <li><a href="{% url 'item_filter_electronic' %}">电子产品</a></li>
                <li><a href="{% url 'item_filter_car' %}">汽车</a></li>
                <li><a href="{% url 'item_filter_books' %}">书籍</a></li>
                <li><a href="{% url 'item_filter_furniture' %}">家具</a></li>                 
                <li><a href="{% url 'item_filter_sports' %}">运动</a></li>
                <li><a href="{% url 'item_filter_clothes' %}">衣服鞋</a></li>
                <li><a href="{% url 'item_filter_free' %}">免费</a></li> 
                <li><a href="{% url 'item_filter_others' %}">其它</a></li> 
                </ul>
                </div>

                <div class="btn-group">
                  <a  class="btn dropdown-toggle nav-item nav-link" data-toggle="dropdown" href="#">地区<span class="caret"></span></a>
                  <ul class="dropdown-menu" >
                  <li><a href="{% url 'item_filter_nearby' %}">附近</a></li>
                  <li><a href="{% url 'item_filter_country' %}">全国</a></li>
                  </ul>
                  </div>


              <a class="nav-item nav-link" href="{% url 'sell-about' %}">关于</a>
            </div>

            <form action="{% url 'search_title' %}" method="get">
              {% csrf_token %}
              <input name="title" type="text" placeholder="">
              <input type="submit" value="搜索" >
            </form>



            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="#">{{ user.username }}</a>
                <a class="nav-item nav-link" href="{% url 'post-create' %}">出售</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">个人资料</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">注销</a>
              {% else %}
                <a class="nav-item nav-link" href="#">游客</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">登录</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">注册</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" ></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>